<footer id="footer">

<div id="copyrights">
<div class="container clearfix">
<div class="col_half">
© 2018 altintahminci.com Bilgi Teknolojileri. Her Hakkı Saklıdır.
</div>
<div class="col_half col_last">
<div class="copyright-links">
<a href="/home/gizlilik">Gizlilik</a>
<a href="/home/iade_sartlari">İade Şartları</a>
<a href="/home/yasal_uyari">Yasal Uyarı</a>
<a href="/home/kullanim_kosullari">Kullanım Koşulları</a>
</div>
</div>
</div>
</div>
<br>

</footer>