<div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
<div class="theTitle center">
<h1>Hakkında</h1>
<hr class="red">
<p></p>
</div>
<div class="container center">
<div class="theSoftBox">
<p></p>
<p><strong></strong> <strong>altintahminci.com Bilgi Teknolojileri</strong> çatısı altında yayın hayatına girmiş, futbol ve basketbol olmak üzere bir çok spor dalı için yorum ve analiz yapan bahis danışmanlığı sitesidir.</p>
<p>Bu analiz ve yorumları işinde uzman bir ekip ile ücretli ve ücretsiz olmak üzere, siz değerli üyelerimize sunmaktayız.</p>
<p>Sitesinde kesinlikle iddaa, bahis, kumar vb. oynatılmamaktadır. İddaa, Türkiye sınırları içinde sadece Spor Toto tarafından yetkilendirilmiş bayii ve web sitelerinde oynanmaktadır. Ayrıca web sitemiz sadece 18 yaş ve üstü üyeleri kabul etmektedir.</p>
<p>Sitesinde bahis oynamayı önermez ve teşvik etmez. Sitemiz imkanlarından faydalanan her üye kendi ülkesindeki kurallardan sorumludur.</p>
<p>Sitesinde yasal bir şirket çatısı altında hizmet veren, ülkesine vergisini ödeyen tek yasal bahis danışmanlığı sitesidir.</p>
<p>Bu sitedeki hiçbir yazı, materyal veya resimler izinsiz kopyalanamaz, çoğaltılamaz, dağıtılamazdır yer alan herhangi bir bilginin ya da yorumun kaynak belirtmeden veya izin almadan kullanılması halinde telif haklarını düzenleyen 5846 sayılı yasa çerçevesinde yasal işlem uygulanacaktır.</p>


<br>
&nbsp;<p></p>
</div>
<div class="clear"></div>
</div>
</div>
<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>