<div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
<div class="theTitle center">
<h1>altintahminci.com İade Şartları</h1>
<hr class="red">
<p>altintahminci.com iade şartları</p>
</div>
<div class="container clearfix">
<div class="theSoftBox">
<p></p><div class="col_half">
<p><strong>altintahminci.com</strong> sitesinde&nbsp;danışmanlık hizmeti satışı yapılmaktadır. Üyelerimize sunulan ödeme şekilleri ve geri iade şartları şu şekildedir.</p>
<p>Sitemize üyelik ödemesi Havale, EFT veya Kredi Kartı seçeneği kullanarak yapılmışsa ve üyenin üyelik süresi başladığı andan itibaren 48 saat içerisinde verilen hizmetten memnun kalmaz ise üyeliğin 48 saati dikkate alınmak suretiyle takip eden 30 işgünü İçerisinde üyenin belirtmiş olduğu hesaba üyelik için yapmış olduğu ödeme geri gönderilir.</p>
<p>Siteye üyelik ödemesi Kredi Kartı ile yapılmışsa ve üye 48 saat sonunda verilen hizmetten memnun kalmamışsa 48 saat sonunda iade isteyebilir. Üyenin geri iadesi siteye üyeliğinin 48 saat başlamak kaydı ile 30 iş günü içerisinde ödeme yapmış olduğu kredi kartına yapılır. 2 gün deneme üyelik sonunda 1 aylık üyelik uzatılmış üyelerde iade gerçekleştirilmez,&nbsp;iade isteyenler sadece aylık ödeme yapmış üyeler için geçerlidir. Üyeler üye oldukları gün saat ve dakika üzerinden 48 saat geçtikten sonra üyeliklerini iptal edemeyeceklerini kabul etmiş sayılırlar.</p>
<p>2 gün deneme üyelikler için 2 günlük ödenen ücretin iadesi yapılmaz, 2 gün süresinde üyeliğini iletişim kısmından form doldurarak iptal etme hakkına sahiptir, 2 gün sonunda 1 aylık alınan ücretin iadesi ise gerçekleştirilmez,</p>
<p>Mobil ödeme ile yapılan üyeliklerde veya kupon alımlarında operatör iadeye izin vermediği için iade yapılmamaktadır.<br>
<br>
 </p>
</div>
<h1 style="text-align: center;">Çok İddalıyız; Banko Maçlar, Banko Tahminler, Banko kuponlar, Tutan Tahminleri, Futbol Kuponları, Hazır Kuponlar,Yüksek Tutturma Oranı...</h1>
<br>
&nbsp;<p></p>
</div>
<div class="clear"></div>
</div>
</div><div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>
