<div class="section nomargin nobg notopborder" style="padding: 80px 0 0 0;">
<div class="container ">
<div class="col_two_third">
<div class="theTitle">
<h1>İletişim Formu</h1>
</div>
<p>
Öneri, şikayet veya bilgi edinmek için lütfen aşağıdaki formu eksiksiz doldurun. <strong>(*)</strong> İşaretli olan alanlar zorunludur. En kısa süre içerisinde sizinle iletişime geçecektir.
</p>
<div class="js-form-controlers">
<div class="js-form-resultss"></div>
<form accept-charset="UTF-8" class="form" id="theContactForm">
<div class="col_half">
<input required="required" class="form-control input-lg" placeholder="Ad Soyad (*)" id="contact-firm" name="name" type="text">
</div>
<div class="col_half col_last">
<input required="required" class="form-control input-lg" placeholder="Telefon (*)" id="contact-firm" name="phone" type="text">
</div>
<div class="col_half col_last">
<input required="required" class="form-control input-lg" placeholder="E-Posta Adresi (*)" id="contact-firm" name="email" type="text">
</div>
<br>
<textarea class="form-control input-lg required" placeholder="Mesajınız (*)" rows="6" cols="30" name="body"></textarea>
<br>

<button class="button regbtn"  style="margin-top:25px;">GÖNDER</button>
</form>
</div>
</div>
</div>
</div>
<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>