<section id="slider" class="slider-parallax swiper_verpackung full-screen clearfix slider-parallax-visible" style="height: 850px; transform: translateY(0px);">
<div class="swiper-container swiper-parent swiper-container-horizontal" style="cursor: -webkit-grab;">
<div class="swiper-verpackung" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
<div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;http://wallpaper-gallery.net/images/messi-vs-ronaldo-wallpaper/messi-vs-ronaldo-wallpaper-3.jpg&quot;); height: 850px; width: 1175px;">
<div class="container clearfix">
<div class="slider-caption " style="transform: translateY(0px); opacity: 1; top: 190.5px;">
</div>
</div>
</div>
<div id="slider-arrow-left" class="swiper-button-disabled" style="opacity: 1;"><i class="icn-angle-left"></i></div>
<div id="slider-arrow-right" class="swiper-button-disabled" style="opacity: 1;"><i class="icn-angle-right"></i></div>
</div>
</section>



<section id="content" style="margin-bottom: 406px;">
<div class="pricing clearfix">
    
    
    
    
<div class="clear"></div>
<div class="section thePic" style="background: #3d3b30;
	    background: -webkit-linear-gradient(150deg, #3f3d31, #3d3b30);
	    background: linear-gradient(150deg, #3f3d31, #3d3b30); padding: 20px 0;" data-stellar-background-ratio="0.9">
<div class="container clearfix">

<div class="wht topmargin">
<div class="theTitle wht">
<h1><span>Hemen ücretsiz </span> Üye Ol ve <span>günlük ücretsiz</span> kuponlardan yararlan...</h1>
</div>
<p class="lead">altintahminci.com’un tecrübeli ekibi <span>futbol ve basketbol kuponlarında<br></span> günlük <span>%85</span> tutturma oranı ile sizlere günlük <span>ücretsiz kuponlar</span> sunmakta.</p>
</div>
     <div class="button regbtn" style="margin:20px 20px 0 0;background: #1bce1f;" >
        <%= link_to 'ŞİMDİ ÜCRETSİZ ÜYE OL', new_user_registration_path%>   
    </div>
</div>
</div>
<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>



<br><br>
<div class="container clearfix">
<div class="theTitle center">
<h1>Sizden Gelen <span>Tutmuş</span> Kupon Fotoğrafları </h1>
<hr class="red">
</div>
<section class="team-sec">
            <div class="container">
                <div class="row">
                    <div id="carousel-example" class="carousel slide team team-web-view" data-ride="carousel">
                        <div class="carousel-line">
                            <div class="controls pull-right">
                                <a class="left fa fa-angle-left btn" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#carousel-example" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg" alt="User one">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.charlottenursey.co.uk/wp-content/themes/charlotte-nursey/images/charlotte-nursey-profile.jpg" class="img-responsive" alt="Charles John">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.appstate.edu/academics/profiles/_images/scott-collier-400x400.jpg" class="img-responsive" alt="Charlotte Law">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://ina-law.co.za/wp-content/uploads/Illse-Nieuwoudt-Profile.jpg" alt="Coleman Harmon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.charlottenursey.co.uk/wp-content/themes/charlotte-nursey/images/charlotte-nursey-profile.jpg" class="img-responsive" alt="Charles John">
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://ina-law.co.za/wp-content/uploads/Illse-Nieuwoudt-Profile.jpg" alt="Coleman Harmon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.appstate.edu/academics/profiles/_images/scott-collier-400x400.jpg" class="img-responsive" alt="Charlotte Law">
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg" alt="User one">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                     
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br>
        </section>




</div>

</section>
