<div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
<div class="theTitle center">
<h1>altintahminci.com Kullanım Koşulları</h1>
<hr class="red">
<p></p>
</div>
<div class="container clearfix">
<div class="theSoftBox">
<p></p><div class="col_half">
<p>AŞAĞIDA YER ALAN KULLANICI SÖZLEŞMESİ, SİZLERE <strong>altintahminci.com</strong> TARAFINDAN SUNULAN KULLANIM ŞARTLARINI ve GİZİLİLİK POLİTİKASINI İÇERİR.</p>
<p>Bu Kullanıcı Sözleşmesi ("Sözleşme", "Kullanıcı Sözleşmesi", "Hizmet koşulları", "Kullanım Şartları") içerisinde altintahminci.com sitesinin ("altintahminci.com", "Site", "Biz", "Bizim" olarak anılacak) kullanımı için kabul etmeniz gereken koşullar bulunmakta olup, siteyi kullanmak için lütfen aşağıda yazılı koşulları okuyunuz. Bu koşulları kabul etmediğiniz taktirde siteyi kullanmaktan vazgeçiniz.</p>
<p>altintahminci.com 01 Ocak 2013’de yayın hayatına başlamış İddaa oyunuyla ilgili olarak tahminler sunan, aynı zamanda futbol ve basketbol başta olmak üzere tüm spor dalları hakkında fikirler ve yorumlar sunan bir web sitesidir. Ücretli üyelik şeklinde hizmet vermektedir. Aynı zamanda ücretli ve ücretsiz üyelerin yer aldığı forumla dünyanın dört bir köşesinden spor bahisleri üzerine karşılıklı fikir alışverişinin yapıldığı bir portaldır. altintahminci.com sitesinde bahis, iddaa ve kumar oyunları oynatılmaz. Yasal bahislere konu olan kişi ve takımlarla ilgili haberler ve gelişmeler ziyaretçilerin bilgisine sunulmaktadır. Öncelikle 18 yaşından küçükler olmak üzere hiçbir siteden bahis oynanmasını teşvik etmez veya önermez. Bu sitelerden bahis ve iddaa oynayan her üye kendi ülkesindeki kurallara göre sorumludur. Türkiye sınırları içinde sadece Spor Toto tarafından yetkilendirilmiş yasal İddaa sitelerinden bahis oynanabilir.</p>
<p>Editörümüz İddaa programında yer alan birçok karşılaşmayı önceliği kendi ilgi alanına giren ligler ve maçlar olmak kaydı ile üyelerine bilgi vermek üzere takip eder ve bahis oyuncusunun ihtiyaç duyabileceği tüm bilgileri hiçbir yönlendirme olmadan yayınlar. Bu sitedeki hiçbir yazı, materyal veya resimler izinsiz kopyalanamaz. altintahminci.com’da yer alan herhangi bir bilginin ya da yorumun kaynak belirtmeden veya izin almadan kullanılması halinde telif haklarını düzenleyen 5846 sayılı yasa çerçevesinde işlem yapılacaktır.</p>
<p>Sitede sunulan hizmetlerden belirli bir bedel ödeyerek veya herhangi bir şekilde siteye erişim sağlayan her gerçek ve tüzel kişi aşağıdaki kullanım koşullarını kabul etmiş sayılır. İşbu kullanım koşulları siteyi kullanarak menfaat sağlayıp sağlamaması fark etmeden siteye erişim sağlayan bütün kişiler için geçerlidir. Site yönetimi sitede yer alan olan bilgileri, formları, içeriği, tasarımları, siteyi ve sitenin kullanım koşullarını herhangi bir ihbarda bulunmadan dilediği zaman değiştirme hakkına sahiptir. Site yönetimi tarafından işbu sözleşme hükümlerinde yapılan her değişikliği sitenin sunduğu hizmetlerden yararlanmaya veya siteye erişim sağlamaya devam eden her gerçek ve tüzel kişi kabul etmiş sayılır.</p>
<p>Üyelik, sitenin kullanıcı tarafından kullanım hakkını ifade eder. Kullanım hakkına sahip kişi de üye olarak anılır. Üye, site üzerinden gerçekleştirdiği tüm işlem, hareket ve fiillerinden cezai, mali ve hukuki açıdan sorumludur. Üye, siteye giriş için kullandığı bilgileri başka kişilerle paylaşamaz. Üye, aksi hallerde doğacak her türlü hukuki, mali ve cezai sorumluluğu kabul eder. Üye bu bilgileri özenle korumakla yükümlüdür. Bir başka kişi tarafından üyeye ait bilgilerin kullanılmasının herhangi bir şekilde tespit edilmesi halinde, site yönetimi adı geçen üyenin üyeliğini süresiz iptal eder. Site, IP bilgilerinin ve diğer kayıt altına alınan bilgilerin kontrol edilmesi de dahil olmak üzere, üyeliğin bir başka kişi tarafından kullanılıp kullanılmadığını test etme hakkı vardır.</p>
</div>
<div class="col_half col_last">
<p>Üye, site üzerinden yapacağı tüm yazışmalardan ve işlemlerden bireysel veya tüzel kişilik olarak sorumludur. Üye, bu yazışma ve işlemlerin site tarafından kayıt altına alınmasını kabul eder ve uyuşmazlık durumunda site tarafından tutulan bu kayıtların geçerli, bağlayıcı, kesin ve münhasır delil olacağını, bunların usulüne uygun tutulduğunu, bunlara karşı tüm itiraz ve def'i haklarından peşinen feragat ettiğini kabul eder. Siteye üye olan her kullanıcı doğru bilgiler vermeyi ve bu bilgilerde meydana gelebilecek değişiklikleri siteye bildirmeyi taahhüt eder. Ancak site üyelerinin bilgilerinin doğruluğu veya yanlışlığından sorumlu tutulamaz. Site yönetimi kaybedilen veya değiştirilen üyelik bilgilerinden sorumlu değildir.</p>
<p>Site, üyelerin yasal mevzuat tarafından izin verilen kişisel bilgilerini saklayabilir ve kişisel olmayan verileri 3. kişilerle paylaşabilir. Bu bilgilerin toplanma amacı sitenin hizmet kalitesinin arttırılmasına yönelik çalışmalar, reklam verenlere sitenin üye portföyünü tanıtmak ve reklamların kişiye özel gösterilmesinden ibarettir. Site, açıkça kullanıcı sözleşmesi veya benzer belgelerde belirtilmedikçe, üyeden rızası alınmadıkça veya söz konusu bilgiler anonim hale getirilmedikçe üyelerin kişisel bilgilerini paylaşmaz. Site, bu gibi bilgileri paylaşırken üyelerin menfaatlerini korumaya özen göstereceğini taahhüt eder. Site yönetimi üyelerin üyeliklerini haber vermeden veya gerekçe göstermeden iptal etme hakkını saklı tutar. Üye, siteye ait olan herhangi bir içeriğin site yönetimi tarafından izin alınmadan herhangi bir şekilde paylaşmayacağını, kopyalamayacağını, yayınlamayacağını, yayımlamayacağını veya satmayacağını taahhüt eder.</p>
<p>Üye, site tarafından sunulan hizmetleri yasal mevzuata ve genel ahlaka aykırı, başkalarını rahatsız edici veya taciz edici bir biçimde kullanmayacağını taahhüt eder. Aksi hallerde üyeliğinin süresiz bir biçimde sonlandırılması da dahil olmak üzere, site yönetimi gerekli gördüğü tedbirleri alabilir. Üye, bu sözleşmede yer alan maddelerde belirtilen durumların oluşması halinde, site yönetimi tarafından alınacak tedbirlerde veya oluşan maddi ve manevi zararlarda, bu tedbirlerin her türlü sonucunu, siteyi sorumlu tutmayacağını ve siteden bir hak veya tazminat talebinde bulunmayacağını peşinen kabul eder.</p>
<p>Üye, bu sözleşmeyi ihlal etmesi durumunda oluşabilecek durumlardan cezai, hukuki ve mali açıdan sorumlu olduğunu kabul eder. Site yönetiminin, bu gibi hallerde oluşabilecek maddi veya manevi herhangi bir zararında, üyeye bu zararı rücu hakkı saklıdır. Sitenin amacı, futbolla ilgili her konuda doğru ve tarafsız bilgi sunmaktır. Ayrıca topladığı bilgiler eşiğinde maç tahminleri sunmaktır. Site üyeleri siteyi bu amaç doğrultusunda kullanmayı taahhüt ederler. Sitenin amacı dışında kullanılması sonucunda doğabilecek cezai, mali ve hukuki yükümlülüklerden amacı dışında kullanan kişiler sorumludur. Bu yükümlülükler konusunda site yönetimi sorumluluk kabul etmez.</p>
<p>Sitenin kullanımı içerisinde kesinlikle bahis oynamak, oynatmak, özendirmek, aracılık yapmak bulunmamaktadır. Site amacı dışında kullanılması halinde tüm sorumluluk amacı dışında kullanan üyeye aittir. Bu ve buna benzer durumlarda site yönetimi hukuki, mali ve cezai yükümlülüklerden sorumlu değildir ve bu gibi uyuşmazlıklarda site yönetimi taraf olarak kabul edilemez. Siteyi amacına aykırı kullananların site yönetimine ihbar edilmesi veya site yönetimi tarafından tespit edilmesi durumunda söz konusu üyelikler süresiz iptal edilir. Site, teknik sıkıntılar dahil olmak üzere, herhangi bir sebeple siteye erişimin kesilmesi veya aksaması halinde yaşanacak maddi ve manevi zararlar için hiçbir sorumluluk kabul etmez. Site yönetimi, herhangi bir adli veya idari süreç çerçevesinde istenen üye bilgilerini hiçbir koşul öne sürmeden paylaşma hakkına sahiptir.</p>
</div>
<h1 style="text-align: center;">Çok İddalıyız; Yüksek Tutturma Oranı Kuponlar, Yüksek Güvenlikli Üyelikler, İade Garantili Kuponlar, Türkiye'deki Tek Yasal Bahis Danışmanlığı...</h1>
<br>
&nbsp;<p></p>
</div>
<div class="clear"></div>
</div>
</div>
<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>
