<div class="section nomargin notopborder nobg">
<div class="container clearfix">


<div class="theTitle">
<h1>Canlı Maç ve Sonuçları</h1>
</div>

<div class="allPosts  postPackung clearfix" style="position: relative; height: 1200px;">
<iframe class="mob" src="https://stnkl.macsonuclari.net/?arkaplan=ffcc00&amp;linkrenk=000000&amp;tarihrenk=252d3b&amp;tarihtext=ffffff&amp;canlirenk=996600&amp;yazirenk=252d3b&amp;ligbg=f8f8f8&amp;ligtext=999999&amp;mouseover=ffcc00&amp;golrenk=F7FDD0&amp;tr1=f1f1f1&amp;tr2=f8f8f8&amp;kodrenk=252d3b&amp;genislik=1140&amp;adres=localhost&amp;islem=0" id="livescr1" name="livescr1" scrolling="yes" frameborder="0" align="center" height="1200" width="100%" style="position: absolute; left: 0px; top: 0px;"></iframe>
</div>


<div lass="allPosts  postPackung clearfix">
<iframe class="dsk" src="https://stnkl.macsonuclari.net/?arkaplan=ffcc00&amp;linkrenk=000000&amp;tarihrenk=252d3b&amp;tarihtext=ffffff&amp;canlirenk=996600&amp;yazirenk=252d3b&amp;ligbg=f8f8f8&amp;ligtext=999999&amp;mouseover=ffcc00&amp;golrenk=F7FDD0&amp;tr1=f1f1f1&amp;tr2=f8f8f8&amp;kodrenk=252d3b&amp;genislik=1140&amp;adres=localhost&amp;islem=0" id="livescr2" name="livescr2" scrolling="yes" frameborder="0" align="center" height="1400" width="100%"></iframe>
</div>

<br><br><br><br><br>

<br>

</div>
</div>    