<div class="section nomargin nobg notopborder" style="padding: 80px 0 0 0;">
<div class="container ">
<div class="col_two_third">
<div class="theTitle">
<h1>Hesap Bilgilerinizi Giriniz</h1>
<p><strong></strong> <strong></strong>altintahminci.com sitesi için hesabınıza para yatırma işlemi için bilgilerinizi eksiksiz olarak giriniz... </p>
</div>
<p>

</p>
<div class="js-form-controlers">
<div class="js-form-resultss"></div>
<form accept-charset="UTF-8" class="post" id="theContactForm">
<div class="col_half">
<input required="required" class="form-control input-lg" placeholder="Banka Adı (*)" id="bankaadi" name="bankaadi" type="text">
</div>
<div class="col_half col_last">
<input required="required" class="form-control input-lg" placeholder="Şube Kodu (*)" id="subekodu" name="subekodu" type="text">
</div>
<div class="col_half">
<input required="required" class="form-control input-lg" placeholder="Şube Adı (*)" id="subeadi" name="subeadi" type="text">
</div>
<div class="col_half col_last">
<input required="required" class="form-control input-lg" placeholder="Hesap No (*)" id="hesapno" name="hesapno" type="text">
</div>
<br>
<textarea class="form-control input-lg required" placeholder="IBAN No (*)" rows="1" cols="2" name="inam" id="iban"></textarea>
<br>
<textarea class="form-control input-lg required" placeholder="Hesap Sahibi İsim Soyisim (*)" rows="1" cols="2" name="inam" id="isim"></textarea>
</form>
<button  style="margin-top:25px;"  class="btn btn-success btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Finansal Durum Kontrol Ediliyor...">Para Çek</button>

</div>
</div>



</div>
<div id="sa" ></div>

<div class="container left">
<div class="theSoftBox">
<img src="https://resmim.net/f/6wYc2I.png" class="img-fluid"></img><br><br>
<br>
&nbsp;<p></p>
</div>
<div class="clear"></div>
</div>

</div>




<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>

<script>
$('.btn').on('click', function() {
    if(($('#bankaadi').val() == '') || ($('#subekodu').val() == '') || ($('#bankaadi').val() == '') || ($('#subeadi').val() == '') || ($('#hesapno').val() == '') || ($('#iban').val() == '') || ($('#isim').val() == ''))  {
    var $this = $(this);
      $this.button('loading');
        setTimeout(function() {
           $this.button('reset');
       }, 3000);
        setTimeout(function() {
        document.getElementById("sa").innerHTML =  "<div class='alert alert-warning' role='alert'><h4 class='alert-heading'>Uyarı</h4><p>Doldurmanız gereken alanlar mevcuttur.</p></div><br><br>";
   }, 4000);
  
   }else{
       var $this = $(this);
      $this.button('loading');
        setTimeout(function() {
           $this.button('reset');
       }, 3000);
    setTimeout(function() {
        document.getElementById("sa").innerHTML =  "<div class='alert alert-danger' role='alert'><h4 class='alert-heading'>Dikkat !! </h4><p>Hesabınızdaki parayı çekebilmek için siteye para yatırmanız gerekmektedir.!! </p></div><br><br>";
   }, 4000);
       
   }
   
});


</script>

