<div class="section nomargin nobg notopborder" style="padding: 80px 0;">
<div class="container ">
<div class="theTitle">
<h1>Sıkça Sorulan Sorular</h1>
</div>
<div class="">
<div class="accordion accordion-bg clearfix">
<div class="acctitle acctitlec"><i class="acc-closed icn-ok"></i><i class="acc-open icn-ok"></i>
<h1>Hizmetinizden memnun kalmadım, verdiğim ücreti geri alabilir miyim?</h1></div>
<div class="acc_content clearfix" style="display: block;">
<p>Evet. İade şartlarımıza uygun olduğu sürece 30 iş günü içinde iade yapılır.</p>
</div>
<div class="acctitle"><i class="acc-closed icn-ok"></i><i class="acc-open icn-ok"></i>
<h1>Kuponlarımı oynayabilir miyim?</h1></div>
<div class="acc_content clearfix" style="display: none;">
<p>Evet. Sitemiz oluşturduğunuz kuponları İddia.com üzerinden işleme girdirir.</p>
</div>
<div class="acctitle"><i class="acc-closed icn-ok"></i><i class="acc-open icn-ok"></i>
<h1>Her gün tahmin paylaşıyor musunuz?</h1></div>
<div class="acc_content clearfix" style="display: none;">
<p>Fikstürün durumu el verdiği sürece mutlaka her gün tahmin paylaşımı olacaktır.</p>
</div>

<div class="acctitle"><i class="acc-closed icn-ok"></i><i class="acc-open icn-ok"></i>
<h1>Verdiğiniz hizmet yasal mıdır?</h1></div>
<div class="acc_content clearfix" style="display: none;">
<p>Evet kesinlikle yasaldır. Bizi diğer sitelerden ayıran da budur.</p>
</div>

<div class="acctitle"><i class="acc-closed icn-ok"></i><i class="acc-open icn-ok"></i>
<h1>altintahminci.com ne tür sitedir? Verdiği hizmetten nasıl yararlanabilirim?</h1></div>
<div class="acc_content clearfix" style="display: none;">
<p>Birçok spor dalında uzman ekibimiz ile sizlerle bilgi ve tecrübesini paylaşan bahis danışmanlığı sitesidir. Bu hizmetten sitemize üye olarak yararlanabilirsiniz.</p>
</div>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<div class="section nomargin notopborder" style="background: #008dcf;
			background: -webkit-linear-gradient(140deg, #43d282, #008dcf);
			background: linear-gradient(140deg, #43d282, #008dcf); padding: 80px 0;">
<div class="container clearfix">

<div class="col_half ">

<div class="col_one_third ">
<a class="theBox" href="/home/nasil_uye_olunur">

<h1>Nasıl Üye Olurum?</h1>
 
<p>5 saniyede nasıl üye olacağınızı buradan öğrenin.</p></a>


</div>


<div class="col_one_third" href="/home/kuponlari_nasil_gorurum">
<a class="theBox">

<h1>Kayıtlı Kuponları Nasıl Görürüm?</h1>
<p>Paketler arası nasıl geçiş yapılır buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/iade_sartlari">

<h1>Kuponları Nasıl Görürüm?</h1>
<p>Kuponlarını nasıl göreceğini buradan öğren.</p>
</a>
</div>

</div>


<div class="col_half col_last nomargin">

<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>İade Şartlarınız Nelerdir?</h1>
<p>100% Geri ödeme garantili şartlarımızı buradan öğren.</p>
</a>
</div>


<div class="col_one_third ">
<a class="theBox" href="/home/iade_sartlari">

<h1>Nasıl Ödeme Yapabilirim?</h1>
<p>Ödemeleri nasıl yapacağını buradan öğren.
</p>
</a>
</div>


<div class="col_one_third col_last">
<a class="theBox" href="/home/kullanim_kosullari">
<h1>Kullanım Koşulları</h1>
<p>Kullanım koşullarımızı buradan öğren.</p>
</a>
</div>

</div>

</div>
</div>