<div class="section nomargin notopborder nobg" style="padding: 80px 0 0 0;">
<div class="theTitle center">
<h1>altintahminci.com Yasal Uyarı</h1>
<hr class="red">
<p></p>
</div>
<div class="container clearfix">
<div class="theSoftBox">
<p></p><div class="col_half">
<p><strong>altintahminci.com</strong> ‘da yer alan reklam materyalleri Türkiye içinde ikamet eden üyelere yönelik olarak hazırlanmıştır. altintahminci.com hiçbir şekilde illegal bahis oynatmaz ve oynamaya aracılık etmez.<br>
<br>
Bu site üzerinde her tür organizasyon, kullanım ve tasarruf yetkisi altintahminci.com ’a ait olup, siteye girerek sitenin kullanım ve sözleşme kurallarını kabul etmiş bulunuyorsunuz.&nbsp; altintahminci.com ’da sözleşme şartları da dahil olmak üzere, site ve site uzantılarında mevcut her tür koşulu ve bilgiyi önceden herhangi bir ihtara hacet olmaksızın değiştirme hakkını saklı tutar. Değişiklikler sitede yayım anında yürürlüğe girer.<br>
<br>
Hiçbir durumda "altintahminci.com" ve sahibi olan şirket, sitede yayınlanan tahmin ve kuponların kullanımından doğabilecek, kar kaybı ve diğer maddi kayıplar, bilgi kaybı, iş kesintisi dahil ancak bunlarla sınırlı olmamak üzere doğrudan, dolaylı, özel ya da diğer sonuçsal veya rastlantısal kayıplardan ve her türlü rahatsızlığın sorumluluğu tamamen kullanıcıya aittir. Bu sitenin hazırlanmasında katkıda bulunan kişi ve kurumlar sorumlu tutulamaz.&nbsp;</p>
</div>
<div class="col_half col_last">
<p>altintahminci.com ’da bilgi amaçlı spor karşılaşmalarına oranlar ve ihtimaller verilmektedir. Bu oran ve ihtimaller tamamen analiz ve yoruma dayalıdır.&nbsp; altintahminci.com ’a kayıt olan her üye kendi ülkesindeki bahis ve iddaa kanunlarından kendisi sorumlu tutulur, sitemize dünyanın her tarafından kullanıcı girmektedir, her ülkenin kanunlarını inceleme ve uygulama imkanımız yoktur.<br>
<br>
Ücretli ya da ücretsiz olmak üzere, "altintahminci.com" ve ilgili diğer hizmetler ve programlar hiçbir garanti olmadan "olduğu-gibi" sunulmaktadır. "altintahminci.com" içeriğin hatasız olduğuna ve web sitesinin her kullanıcıya ait bilgisayar, tablet ve mobil araçlarla tam uyumlu olduğuna dair garanti vermemektedir.&nbsp;<br>
<br>
<br>
&nbsp;</p>
<div class="clear">&nbsp;</div>
</div>
<p></p>
</div>
<div class="clear"></div>
</div>
</div>