#primary{color:#333;background:white;word-wrap:break-word;font-family:"Segoe UI";line-height:1.7;font-size:14px}

.container{margin-right:auto;margin-left:auto}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}

.iddaaprogram{width:100%;border:1px solid #CCC;box-shadow:0 3px 5px #999;margin-top:7px;margin-bottom:60px}
.iddaamac{display:table;vertical-align:top;height:auto !important;width:100%;border-collapse:collapse;border-bottom:1px solid #CCC;margin-bottom:5px}
.ustbaslik{display:table;vertical-align:top;height:auto !important;width:100%;border-collapse:collapse;border-bottom:1px solid #CCC;margin-bottom:0px}
.ustbaslikcon{background:green;display:table;height:30px;float:left;width:100%;color:white;text-align:center}
.altoranlar{height:auto;margin:0;float:left;text-align:center;background:#FFF}
.anaoranlar{display:table;height:30px;float:left;width:100%;color:#353535;text-align:center}
.oran1,.oran2,.kalinoran1,.kalinoran2,.iddaalig{width:3%}
.btakim{width:21%;font-weight:600;display:table-cell;vertical-align:middle;height:28px;border-right:1px solid #ccc;padding-left:15px;text-align:left}
.mackodu{width:4%;font-weight:600}
.mackodu2{width:4%;font-weight:600}
.oran1,.oran2,.kalinoran1,.kalinoran2,.mbs3,.mbs1,.mbs4,.mbs5,.mackodu,.altxoran,.iddaalig{
display:table-cell;vertical-align:middle;height:28px;border-right:1px solid #ccc;text-align:center;font-size:13px;font-weight:600}
.mbs4{background:#858585;color:#FFF;width:3%}
.mbs5{background:yellow;color:black;width:3%}
.oran2,.kalinoran2,.mackodu,.iddaalig{background:#F5F5F5}
.biddaagun{background:green;font-weight:700;color:#FFF;padding-left:10px;border:1px solid #CCC;height:30px;padding-top:2px}

.recentcomments a{
display:inline !important;
padding:0 !important;
margin:0 !important;
}

#primary{color:#333;background:white;word-wrap:break-word;font-family:"Segoe UI";line-height:1.7;font-size:14px}

.container{margin-right:auto;margin-left:auto}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}

.iddaaprogram{width:100%;border:1px solid #CCC;box-shadow:0 3px 5px #999;margin-top:7px;margin-bottom:60px}
.iddaamac{display:table;vertical-align:top;height:auto !important;width:100%;border-collapse:collapse;border-bottom:1px solid #CCC;margin-bottom:5px}
.ustbaslik{display:table;vertical-align:top;height:auto !important;width:100%;border-collapse:collapse;border-bottom:1px solid #CCC;margin-bottom:0px}
.ustbaslikcon{background:green;display:table;height:30px;float:left;width:100%;color:white;text-align:center}
.altoranlar{height:auto;margin:0;float:left;text-align:center;background:#FFF}
.anaoranlar{display:table;height:30px;float:left;width:100%;color:#353535;text-align:center}
.oran1,.oran2,.kalinoran1,.kalinoran2,.iddaalig{width:3%}
.btakim{width:21%;font-weight:600;display:table-cell;vertical-align:middle;height:28px;border-right:1px solid #ccc;padding-left:15px;text-align:left}
.mackodu{width:4%;font-weight:600}
.mackodu2{width:4%;font-weight:600}
.oran1,.oran2,.kalinoran1,.kalinoran2,.mbs3,.mbs1,.mbs4,.mbs5,.mackodu,.altxoran,.iddaalig{
display:table-cell;vertical-align:middle;height:28px;border-right:1px solid #ccc;text-align:center;font-size:13px;font-weight:600}
.mbs4{background:#858585;color:#FFF;width:3%}
.mbs5{background:yellow;color:black;width:3%}
.oran2,.kalinoran2,.mackodu,.iddaalig{background:#F5F5F5}
.biddaagun{background:green;font-weight:700;color:#FFF;padding-left:10px;border:1px solid #CCC;height:30px;padding-top:2px}

.recentcomments a{
display:inline !important;
padding:0 !important;
margin:0 !important;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background-color:#ffffff;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width:30px; 
	height:30px;
}

.myButton:hover {
	background-color:green;
}


















